* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #f9fafb;
  display: flex;
  flex-flow: row-reverse;
justify-content: space-between;
}

.navMain {
  width: 17%;
  background-color: antiquewhite;
}
.navMain1 {
  height: 100vh;
  width: 240px;
  background-color: cornflowerblue;
  position: fixed;
}

.navMain1 .title{
  width: 100%;
  height: 100px;
  background-color: #f0fdf4;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
.navMain1 .title .title_icon {
  background-color: #3e3ae0;
  height: 50px;
  width: 50px;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.navMain1 .title img {
  width: 30px;
  height: 30px;
}
.navMain1 .title-info {
  display: flex;
  flex-flow: column;
  align-items: end;
  justify-content: center;
}
.navMain1 .title h2 {
  font-family: "IBM Plex Sans Arabic", sans-serif;
  font-size: 36px;
  line-height: 40px;
  font-weight: 700;
  margin-bottom: 5px;
}
.navMain1 title p {
  font-family: "IBM Plex Sans Arabic", sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 600;
  color: oklch(0.446 0.03 256.802);
}

.mainBodey {
  padding: 30px;
  height: auto;
  width: 83%;
  background-color: aquamarine;
  display: grid;
  /* grid-template-columns: repeat(3,1fr);
    grid-template-rows: 200px; */
  grid-template: 120px 160px 329px 400px 329px 400px 120px / repeat(3, 1fr);
  grid-template-areas:
    "head head head"
    "currentBalance income expences"
    "lastTransactions lastTransactions newActivities"
    "lastTransactions lastTransactions monthlyBills"
    "PaymentMethods incomeVsExpences budgetOverlook"
    "PaymentMethods summary budgetOverlook"
    ". . budgetOverlook";
  gap: 20px;
  box-sizing: border-box;
}

.info {
  border-radius: 12px;
  box-sizing: border-box;
}
.grid1 {
  background-color: burlywood;
  grid-area: head;
  padding: 0 0 10px 0;
}
.grid2 {
  background-color: rgb(126, 121, 115);
  grid-area: currentBalance;
}
.grid3 {
  background-color: rgb(70, 153, 70);
  grid-area: income;
}
.grid4 {
  background-color: rgb(156, 68, 80);
  grid-area: expences;
}
.grid5 {
  background-color: rgb(228, 131, 4);
  grid-area: newActivities;
}
.grid6 {
  background-color: rgb(105, 228, 23);
  grid-area: lastTransactions;
}
.grid7 {
  background-color: rgb(16, 160, 153);
  grid-area: monthlyBills;
}
.grid8 {
  background-color: rgb(22, 171, 197);
  grid-area: budgetOverlook;
}
.grid9 {
  background-color: rgb(75, 32, 175);
  grid-area: incomeVsExpences;
}
.grid10 {
  background-color: rgb(196, 10, 149);
  grid-area: summary;
}
.grid11 {
  background-color: rgb(186, 204, 21);
  grid-area: PaymentMethods;
}

.headNav {
  width: 100%;
  height: 100px;
  background-color: #fafcfe;
  border-radius: 12px;
  display: grid;
  grid-template: 50px / auto 35px 35px 1fr 1fr 1fr 1fr 1fr 70px 2fr;
  grid-template-areas: "profile notification search . . . . .  connection title";
  gap: 10px;
  align-content: center;
  padding: 0 10px 0 10px;
  box-sizing: border-box;
  align-items: center;
}

.headNav .title {
  grid-area: title;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-around;

}

.headNav .connection {
  background-color: #f0fdf4;
  grid-area: connection;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  height: 30px;
  border-radius: 5px;
  border: #dbfce7 1px solid;
}
.headNav .search {
  background-color: #f3f4f6;
  grid-area: search;
  border: 1px #e6e8eb solid;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 7px;
}

.headNav .search img {
  width: 20px;
}

.headNav .notification {
  background-color: #f3f4f6;
  grid-area: notification;
  border: 1px #e6e8eb solid;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 7px;
}
.headNav .notification img {
  width: 20px;
}
.headNav .profile {
  background-color: white;
  grid-area: profile;
  border: 1px #e6e8eb solid;
  border-radius: 12px;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 10px;
  gap: 10px;
}
.headNav .profile img{
  height: 40px;
  border-radius: 10px;
}
.headNav .profileDetails {
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: center;
}
.headNav .profileDetails .profileName span{
font-family: "IBM Plex Sans Arabic", sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 600;
}
.headNav .profileDetails .profileStatus span{
font-family: "IBM Plex Sans Arabic", sans-serif;
  font-size: 12px;
  line-height: 16px;
  font-weight: 600;
  color: oklch(0.551 0.027 264.364);
}
.headNav .title .title_icon {
  background-color: #3e3ae0;
  height: 50px;
  width: 50px;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.headNav .title img {
  width: 30px;
  height: 30px;
}
.headNav .title-info {
  display: flex;
  flex-flow: column;
  align-items: end;
  justify-content: center;
}
.headNav .title h2 {
  font-family: "IBM Plex Sans Arabic", sans-serif;
  font-size: 36px;
  line-height: 40px;
  font-weight: 700;
    margin-bottom: 5px;

}
.headNav .title p {
  font-family: "IBM Plex Sans Arabic", sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 600;
  color: oklch(0.446 0.03 256.802);
}

.headNav .connection span {
  font-family: "IBM Plex Sans Arabic", sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
  color: oklch(0.527 0.154 150.069);
}

.headNav1 .greenDot {
  background-color: #02c951;
  width: 7px;
  height: 7px;
  border-radius: 50%;
}


