* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #f9fafb;
  display: flex;
  flex-flow: row-reverse;
  justify-content: space-between;
}

.navMain {
  width: 17%;
  box-sizing: border-box;
}
.navMain1 {
  height: 100vh;
  width: 240px;
  position: fixed;
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  background-color: white;
}

.navMain1 .ttlimg li div {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 35px;
  width: 35px;
  border-radius: 7px;
}
.navMain1 .ttlimg .shtct1 div {
  background-color: #dbe8fc;
}
.navMain1 .ttlimg .shtct2 div {
  background-color: #d5f3e1;
}
.navMain1 .ttlimg .shtct3 div {
  background-color: #eedffc;
}
.navMain1 .ttlimg .shtct4 div {
  background-color: #fbe4d4;
}

.navMain1 .ttlimg img {
  width: 25px;
  height: 25px;
}

.navMain1 .title {
  width: 100%;
  height: 70px;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
  gap: 30px;

}
.navMain1 .title .title_icon {
  background-color: #3e3ae0;
  height: 50px;
  width: 50px;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.navMain1 .title img {
  width: 30px;
  height: 30px;
}
.navMain1 .title-info {
  display: flex;
  flex-flow: column;
  align-items: end;
  justify-content: center;
}
.navMain1 .title h2 {
  font-family: "IBM Plex Sans Arabic", sans-serif;
  font-size: 36px;
  line-height: 40px;
  font-weight: 700;
  margin-bottom: 5px;
}
.navMain1 title p {
  font-family: "IBM Plex Sans Arabic", sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 600;
  color: oklch(0.446 0.03 256.802);
}

.navMain1 .links {
  display: flex;
  flex-flow: column;
  gap: 10px;
  align-items: center;
}

.navMain1 .links li {
  list-style: none;
  width: 80%;
  height: 30px;
  border-radius: 12px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 10px;
  cursor: pointer;
}
.navMain1 .links li:not(.mainhome):hover {
  background-color: #f9fafb;
}
.navMain1 .links li p {
  position: relative;
  top: 2px;
  font-family: "IBM Plex Sans Arabic", sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  color: oklch(0.446 0.03 256.802);
}
.links .mainhome {
  background-color: #eff6ff;
  border: #dbeafe 2px solid;
}

.navMain1 .shortcut1 {
  display: flex;
  flex-flow: column;
  gap: 10px;
  align-items: center;
  font-family: "IBM Plex Sans Arabic", sans-serif;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  color: oklch(0.373 0.034 259.733);
}
.navMain1 .shortcut1 span {
  align-self: last baseline;
  margin-right: 20px;
  margin-bottom: 10px;
}
.navMain1 .shortcut1 li {
  list-style: none;
  width: 80%;
  height: 30px;
  border-radius: 12px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 10px;
  cursor: pointer;
}

.navMain1 .shortcut1 li:hover {
  background-color: #f9fafb;
  position: relative;
  left: 2px;
}

.mainBodey {
  padding: 30px;
  height: 2100px;
  width: 83%;
  display: grid;
  /* grid-template-columns: repeat(3,1fr);
    grid-template-rows: 200px; */
  grid-template: auto auto auto auto 400px 400px auto auto 900px 400px/ repeat(3, 1fr);
  grid-template-areas:
    "head head head"
    "currentBalance income expences"
    "lastTransactions lastTransactions newActivities"
    "lastTransactions lastTransactions monthlyBills"
    "PaymentMethods incomeVsExpences budgetOverlook"
    "PaymentMethods summary budgetOverlook"
    ". . budgetOverlook";
  gap: 20px;
  box-sizing: border-box;
}

.info {
  border-radius: 12px;
  box-sizing: border-box;
}
.grid1 {
  grid-area: head;
  padding: 0 0 10px 0;
}
.grid2 {
  background-color: rgb(126, 121, 115);
  grid-area: currentBalance;
}
.grid3 {
  background-color: rgb(93, 104, 93);
  grid-area: income;
}
.grid4 {
  background-color: rgb(156, 68, 80);
  grid-area: expences;
}
.grid5 {
  background-color: rgb(228, 131, 4);
  grid-area: newActivities;
}
.grid6 {
  background-color: rgb(105, 228, 23);
  grid-area: lastTransactions;
}
.grid7 {
  background-color: rgb(16, 160, 153);
  grid-area: monthlyBills;
}
.grid8 {
  background-color: rgb(22, 171, 197);
  grid-area: budgetOverlook;
}
.grid9 {
  background-color: rgb(75, 32, 175);
  grid-area: incomeVsExpences;
}
.grid10 {
  background-color: rgb(196, 10, 149);
  grid-area: summary;
}
.grid11 {
  background-color: rgb(186, 204, 21);
  grid-area: PaymentMethods;
}

.headNav {
  width: 100%;
  height: 110px;
  background-image: linear-gradient(90deg, #f4f8fd, white, #f4f8fd);
  border-radius: 12px;
  display: grid;
  grid-template: 50px / auto 35px 35px 1fr 1fr 1fr 1fr 1fr 70px 180px;
  grid-template-areas: "profile notification search . . . . .  connection title";
  gap: 10px;
  align-content: center;
  padding: 0 10px 0 10px;
  box-sizing: border-box;
  align-items: center;
  box-shadow: rgba(128, 128, 128, 0.199) 2px 2px 2px;
}

.headNav .title {
  grid-area: title;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-around;
}

.headNav .connection {
  background-color: #f0fdf4;
  grid-area: connection;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  height: 30px;
  border-radius: 5px;
  border: #dbfce7 1px solid;
}
.headNav .search {
  grid-area: search;
  border: 1px #e6e8eb solid;
  height: 35px;
  width: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 7px;
  cursor: pointer;
}

.headNav .search img {
  width: 20px;
}

.headNav .search:hover {
  background-color: #f3f4f6;
}

.headNav .notification {
  grid-area: notification;
  border: 1px #e6e8eb solid;
  height: 35px;
  width: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 7px;
  position: relative;
  cursor: pointer;
}
.headNav .notification img {
  width: 20px;
}

.headNav .notification .notnum {
  font-family: "IBM Plex Sans Arabic", sans-serif;
  font-size: 12px;
  font-weight: 600;
  line-height: 16px;
  color: rgb(255, 255, 255);
  width: 17px;
  height: 17px;
  background-color: #fb2c36;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  position: absolute;
  bottom: 25px;
  left: 25px;
}

.headNav .notification:hover {
  background-color: #f3f4f6;
}

.headNav .profile {
  background-color: white;
  grid-area: profile;
  border: 1px #e6e8eb solid;
  border-radius: 12px;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 10px;
  gap: 10px;
  transition: box-shadow 1s;
}
.headNav .profile:hover {
  box-shadow: rgba(0, 0, 0, 0.096) 2px 2px 2px;
}

.headNav .profile img {
  height: 40px;
  border-radius: 10px;
}
.headNav .profileDetails {
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: center;
}
.headNav .profileDetails .profileName span {
  font-family: "IBM Plex Sans Arabic", sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 600;
}
.headNav .profileDetails .profileStatus span {
  font-family: "IBM Plex Sans Arabic", sans-serif;
  font-size: 12px;
  line-height: 16px;
  font-weight: 600;
  color: oklch(0.551 0.027 264.364);
}
.headNav .title .title_icon {
  background-color: #3e3ae0;
  height: 50px;
  width: 50px;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.headNav .title img {
  width: 30px;
  height: 30px;
}
.headNav .title-info {
  display: flex;
  flex-flow: column;
  align-items: end;
  justify-content: center;
}
.headNav .title h2 {
  font-family: "IBM Plex Sans Arabic", sans-serif;
  font-size: 36px;
  line-height: 40px;
  font-weight: 700;
  margin-bottom: 5px;
}
.headNav .title p {
  font-family: "IBM Plex Sans Arabic", sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 600;
  color: oklch(0.446 0.03 256.802);
}

.headNav .connection span {
  font-family: "IBM Plex Sans Arabic", sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
  color: oklch(0.527 0.154 150.069);
}

.headNav1 .greenDot {
  background-color: #02c951;
  width: 7px;
  height: 7px;
  border-radius: 50%;
}
/* top info part */

.grid2 h3,
.grid3 h3,
.grid4 h3 {
  font-family: "IBM Plex Sans Arabic", sans-serif;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  color: oklch(0.551 0.027 264.364);
}
.grid2 p,
.grid3 p,
.grid4 p {
  font-family: "IBM Plex Sans Arabic", sans-serif;
  font-size: 36px;
  font-weight: 700;
  line-height: 40px;
  color: oklch(0.21 0.034 264.665);
  text-align: end;
}
.grid2 span,
.grid3 span,
.grid4 span {
  font-family: "IBM Plex Sans Arabic", sans-serif;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  color: oklch(0.627 0.194 149.214);
  position: relative;
  top: 2px;
}
.grid2 span {
  color: red;
}
.grid2 img,
.grid3 img,
.grid4 img,
.grid5 img {
  height: 15px;
  width: 20px;
}
.grid4 img,
.grid3 img {
  transform: rotate(180deg);
}
.grid2 img {
  filter: hue-rotate(-130deg) saturate(250%);
}

.info:not(.grid1) {
  display: flex;
  flex-direction: column;
  align-items: end;
  padding: 25px;
  justify-content: space-between;
  background-color: white;
  border: rgba(128, 128, 128, 0.363) 1px solid;
}

.info .updown {
  display: flex;
  justify-content: center;
  align-items: center;
}
/* end top info part */
/* start new activities */
.grid5 {
  text-align: end;
}
.grid5 h3 {
  font-family: "IBM Plex Sans Arabic", sans-serif;
  font-size: 18px;
  font-weight: 600;
  line-height: 28px;
}
.activitiesContainer {
  width: 100%;
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-bottom: 10px;
  border-bottom: rgba(128, 128, 128, 0.253) 1px solid;
}

.actvty {
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  align-items: start;
  height: 100px;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 8px;
}

.act1 {
  background-color: #eff6ff;
  box-shadow: #2b7fff -4px 0 0 0;
}
.act2 {
  background-color: #f0fdf4;
  box-shadow: #00c950 -4px 0 0 0;
}

.actimg {
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.act1 .actimg {
  background-color: #dbeafe;
}
.act2 .actimg {
  background-color: #dbfce7;
}
.actdetails {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.actvty h5 {
  font-family: "IBM Plex Sans Arabic", sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
}
.actdetails p {
  font-family: "IBM Plex Sans Arabic", sans-serif;
  font-size: 12px;
  font-weight: 600;
  line-height: 16px;
  color: oklch(0.446 0.03 256.802);
}
.actdetails span {
  font-family: "IBM Plex Sans Arabic", sans-serif;
  font-size: 12px;
  font-weight: 600;
  line-height: 16px;
  color: oklch(0.551 0.027 264.364);
  margin-top: 20px;
}

.act1 .acttype span {
  font-family: "IBM Plex Sans Arabic", sans-serif;
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  color: oklch(0.546 0.245 262.881);
}
.act2 .acttype span {
  font-family: "IBM Plex Sans Arabic", sans-serif;
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  color: oklch(0.627 0.194 149.214);
}
.actshowmore {
  font-family: "IBM Plex Sans Arabic", sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  color: oklch(0.488 0.243 264.376);
  text-align: center;
  width: 100%;
  cursor: pointer;
}

/* end new activities */

/* start new last Transactions */
.mainBodey .grid6 {
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 30px;
  box-sizing: border-box;

}
.info .lttop {
  width: 100%;

  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
}
.info .lttop h3 {
  font-family: "IBM Plex Sans Arabic", sans-serif;
  font-size: 18px;
  font-weight: 600;
  line-height: 28px;
}
.info .lttop span {
  font-family: "IBM Plex Sans Arabic", sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  cursor: pointer;
}
.scrollabletable{
  width: 100%;
  box-sizing: border-box;
overflow-y: scroll;
height: 95%;
}
.grid6 table {
  width: 100%;
  border-collapse: auto;
  min-width: 600px;
  height: 100%;
  


}

.grid6 table img {
  height: 15px;
  width: 15px;
}
.mainBodey .grid6 th {
  border-bottom: rgba(128, 128, 128, 0.123) 2px solid;
  text-align: end;
  font-family: "IBM Plex Sans Arabic", sans-serif;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  color: oklch(0.373 0.034 259.733);
  height: 50px;
}
.grid6 tbody td {
  border-bottom: rgba(128, 128, 128, 0.144) 1px solid;
  align-items: end;
  text-align: end;
  justify-items: end;

}


.stmain {
  font-family: "IBM Plex Sans Arabic", sans-serif;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
}
.stscondary {
  font-family: "IBM Plex Sans Arabic", sans-serif;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  color: oklch(0.627 0.194 149.214);
}
.ndmain {
  background-color: #dbfce7;
  border-radius: 12px;
  display: inline-block;
  padding: 2px 15px;
  font-family: "IBM Plex Sans Arabic", sans-serif;
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  color: oklch(0.448 0.119 151.328);
}
.ndscondary {
  color: oklch(0.476 0.114 61.907);
  border-radius: 12px;
  display: inline-block;
  padding: 2px 15px;
  font-family: "IBM Plex Sans Arabic", sans-serif;
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  background-color: #fef9c2;
}
.rdmain {
  font-family: "IBM Plex Sans Arabic", sans-serif;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
}
.Fe2ah {
  border-radius: 12px;
  display: flex;
  justify-content: center;
  gap: 8px;
  align-items: end;
  padding: 2px 10px;
  font-family: "IBM Plex Sans Arabic", sans-serif;
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
}
.one {
  background-color: #dbfce7;
  color: oklch(0.448 0.119 151.328);
}
.two {
  background-color: #ffedd4;
  color: oklch(0.47 0.157 37.304);
}
.three {
  background-color: #dbeafe;
  color: oklch(0.424 0.199 265.638);
}
.four {
  background-color: #f3e8ff;
  color: oklch(0.438 0.218 303.724);
}
.five {
  background-color: #dbfce7;
  color: oklch(0.448 0.119 151.328);
}
.six {
  background-color: #ffe2e2;
  color: oklch(0.444 0.177 26.899);
}
.seven {
  background-color: #e0e7ff;
  color: oklch(0.398 0.195 277.366);
}
.eight {
  background-color: #cefafe;
  color: oklch(0.45 0.085 224.283);
}
.nine {
  background-color: #dbfce7;
  color: oklch(0.448 0.119 151.328);
}
.grid6 .ffth {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: end;
  gap: 10px;
  text-align: end;
  padding: 15px 0 15px 0;
}
.grid6 .ffth .fl img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.grid6 .ffth .sml img {
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.grid6 .ffth .imgp {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.grid6 .ffth p {
  font-family: "IBM Plex Sans Arabic", sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
}
.grid6 .ffth span {
  font-family: "IBM Plex Sans Arabic", sans-serif;
  font-size: 12px;
  font-weight: 600;
  line-height: 16px;
  color: oklch(0.551 0.027 264.364);
}

/* end new last Transactions */
/* start monthly invoices */
.mainBodey .grid7 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  text-align: center;
}
.mainBodey .grid7 .midsection p {
  font-family: "IBM Plex Sans Arabic", sans-serif;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  margin-bottom: 5px;
}
.mainBodey .grid7 .midsection span {
  font-family: "IBM Plex Sans Arabic", sans-serif;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  color: oklch(0.551 0.027 264.364);
}
.botcontainer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row-reverse;
  gap: 10px;
  justify-content: center;
}
.subcontainer {
  display: flex;
  height: 140px;
  width: 140px;
  background-color: #f9fafb;
  border: #f3f4f6 1px solid;
  flex-direction: column;
  padding: 15px;
  box-sizing: border-box;
  border-radius: 12px;
  justify-content: space-between;
  align-items: center;
}

.sbcntnerimg {
  width: 30px;
  height: 30px;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.sbcntnerimg img {
  width: 20px;
  height: 20px;
}
.subcontainer h6 {
  font-family: "IBM Plex Sans Arabic", sans-serif;
  font-size: 12px;
  font-weight: 600;
  line-height: 16px;
  color: oklch(0.551 0.027 264.364);
}
.subcontainer p {
  font-family: "IBM Plex Sans Arabic", sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  color: oklch(0.21 0.034 264.665);
}
.subcontainer span {
  font-family: "IBM Plex Sans Arabic", sans-serif;
  font-size: 12px;
  font-weight: 600;
  line-height: 16px;
  color: oklch(0.551 0.027 264.364);
}
.subcontainer .fontcoler1 {
  color: oklch(0.637 0.237 25.331);
}
.subcontainer .fontcoler2 {
  color: oklch(0.705 0.213 47.604);
}
.subcontainer .fontcoler3 {
  color: oklch(0.723 0.219 149.579);
}
.subcontainer .fontcoler4 {
  color: oklch(0.551 0.027 264.364);
}
.subcontainer .bkgrndfrpic1 {
  background-color: #dbeafe;
}
.subcontainer .bkgrndfrpic2 {
  background-color: #fef9c2;
}
.subcontainer .bkgrndfrpic3 {
  background-color: #dbfce7;
}
.subcontainer .bkgrndfrpic4 {
  background-color: #ffe2e2;
}

.grid8 .totalbudget {
  height: 190px;
  background-color: #eff4ff;
  border: #dbeafe 1px solid;
}
.gcntnr {
  height: 130px;
  width: 100%;
  background-color: #fcfcfd;
  border-radius: 12px;
  border: #d5d8df 1px solid;
  padding: 15px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.ttltop h6 {
  font-family: "IBM Plex Sans Arabic", sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  color: oklch(0.546 0.245 262.881);
}
.ttltop p {
  font-family: "IBM Plex Sans Arabic", sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  color: oklch(0.379 0.146 265.522);
}
.ttlmid {
  align-self: flex-end;
}
.ttlmid h6 {
  font-family: "IBM Plex Sans Arabic", sans-serif;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  color: oklch(0.551 0.027 264.364);
}
.ttlmid p {
  font-family: "IBM Plex Sans Arabic", sans-serif;
  font-size: 18px;
  font-weight: 600;
  line-height: 28px;
  color: oklch(0.627 0.194 149.214);
}
.ttlbottop {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 5px;
}
.ttlbottop span {
  font-family: "IBM Plex Sans Arabic", sans-serif;
  font-size: 12px;
  font-weight: 600;
  line-height: 16px;
  color: oklch(0.446 0.03 256.802);
}
.ttlbotbar {
  height: 10px;
  width: 100%;
  background-color: #e5e7eb;
  border-radius: 12px;
}
.brsub {
  height: 100%;
  width: 82.5%;
  background-color: #4474ff;
  border-radius: 12px;
}
.othr4 img {
  height: 20px;
  width: 20px;
}
.othr4{
  transition: .5s;
}
.othr4:hover{
  box-shadow: rgba(0, 0, 0, 0.185) 0 2px 2px 0;
  transform: translate(2px);
  background-color: #F5F6F8;
}
.other4img {
  height: 40px;
  width: 40px;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.oimg1 {
  background-color: #ffedd4;
}
.oimg2 {
  background-color: #fee2e2;
}
.oimg2 img {
  filter: brightness(0) saturate(100%) invert(20%) sepia(87%) saturate(6937%)
    hue-rotate(1deg) brightness(96%) contrast(110%);
}
.oimg3 {
  background-color: #fce7f3;
}
.oimg4 {
  background-color: #dcfce7;
}
.other4top {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  text-align: end;
  gap: 10px;
}
.other4top p {
  font-family: "IBM Plex Sans Arabic", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
}
.other4top span {
  font-family: "IBM Plex Sans Arabic", sans-serif;
  font-size: 12px;
  font-weight: 600;
  line-height: 16px;
  color: oklch(0.551 0.027 264.364);
}

.other4bot {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.other4bot p {
  font-family: "IBM Plex Sans Arabic", sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
}
.other4bot span {
  font-family: "IBM Plex Sans Arabic", sans-serif;
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  color: rgb(22, 101, 52);
}
.other4bottag {
  background-color: #dcfce7;
  padding: 1px 10px;
  border-radius: 12px;
}
.othrtag2 {
  background-color: #fee2e2;
}
.othrtag2 span {
  color: rgb(153, 27, 27);
}
.othrtag3 {
  background-color: #fef3c7;
}
.othrtag3 span {
  color: rgb(146, 64, 14);
}
.other4bar {
  width: 100%;
  height: 10px;
  border-radius: 12px;
  background-color: #e5e7eb;
  margin-top: 10px;
  display: flex;
  flex-direction: row-reverse;
}
.other4per {
  height: 100%;

  border-radius: 12px;
}
.per1 {
  width: 50%;
  background-color: #ff6900;
}
.per2 {
  width: 100%;
  background-color: #fb2c36;
}
.per3 {
  width: 80%;
  background-color: #f6339a;
}
.per4 {
  width: 14%;
  background-color: #00c950;
}

/* end monthly invoices */
/* start income Vs Expences */

.ivebot {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  height: 80%;
}
.ivebot {
  width: 100%;
}
.ivebottop {
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  align-content: center;
  justify-content: center;
  gap: 10px;
}
.ivebottop .inc {
  width: 12px;
  height: 12px;
  background-color: #10b981;
}
.ivebottop .exp {
  width: 12px;
  height: 12px;
  background-color: #ef4444;
}
.ivebottop span {
  font-family: "IBM Plex Sans Arabic", sans-serif;
  font-size: 12px;
  font-weight: 600;
  line-height: 18px;
  color: rgb(100, 116, 139);
}
.ivebotbot {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
}

.dta {
  height: 100%;
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: end;
  gap: 5px;
  text-align: center;
}
.dta .wtop {
  height: 80%;
  display: flex;
  flex-direction: row;
  align-items: end;
  justify-content: center;
  gap: 3px;
}
.dta .red1 {
  width: 24%;
  background-color: #f26969;
  border-radius: 3px;
}
.dta .green1 {
  width: 24%;
  background-color: #3fc79a;
  border-radius: 3px;
}
.week1 .red1 {
  height: calc((450 / 1200) * 100%);
}
.week1 .green1 {
  height: calc((964 / 1200) * 100%);
}
.week2 .red1 {
  height: calc((380 / 1200) * 100%);
}
.week2 .green1 {
  height: calc((920 / 1200) * 100%);
}
.week3 .red1 {
  height: calc((450 / 1200) * 100%);
}
.week3 .green1 {
  height: calc((980 / 1200) * 100%);
}
.week4 .red1 {
  height: calc((420 / 1200) * 100%);
}
.week4 .green1 {
  height: calc((950 / 1200) * 100%);
}
.grid9 .wbot {
  font-family: "IBM Plex Sans Arabic", sans-serif;
  font-size: 12px;
  font-weight: 600;
  line-height: 18px;
  color: rgb(100, 116, 139);
}

/* end some thing */
/* start some thing else */

.grid10 img {
  width: 20px;
  height: 20px;
}
.grid10 .accditls {
  height: 80px;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
  background-color: #f9fafb;
  border: #f3f4f6 1px solid;
  box-shadow: none;
}
.grid10 .accditls .actdetails {
  justify-content: center;
  align-items: end;
}
.rtside {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: end;
  height: 100%;
  gap: 10px;
  text-align: end;
}
.grid10 .accditls .acttype {
  text-align: end;
  height: 100%;
  display: flex;
  align-items: center;
}

.grid10 .accditls h5 {
  font-family: "IBM Plex Sans Arabic", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
}
.grid10 .accditls p {
  font-family: "IBM Plex Sans Arabic", sans-serif;
  font-size: 12px;
  font-weight: 600;
  line-height: 16px;
  color: oklch(0.551 0.027 264.364);
}
.mainBodey .grid10 .accditls span {
  font-family: "IBM Plex Sans Arabic", sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  color: black;
}
.mainBodey .grid10 .accditls .acttype .excp {
  color: oklch(0.577 0.245 27.325);
}

.mainBodey .grid10 .accditls .actimg {
  border-radius: 5px;
  height: 35px;
  width: 35px;
}
.mainBodey .grid10 .accditls .mg1 {
  background-color: #dbeafe;
}
.mainBodey .grid10 .accditls .mg2 {
  background-color: #dbfce7;
}
.mainBodey .grid10 .accditls .mg2 img {
  filter: invert(42%) sepia(93%) saturate(1352%) hue-rotate(97deg)
    brightness(97%) contrast(101%);
}

.mainBodey .grid10 .accditls .mg3 {
  background-color: #f3e8ff;
}

/* end the otherthin */

/* PaymentMethods */
.mainBodey .grid11 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
}
.cardconianer1 {
  width: 306px;
  height: 200px;
}

.thecard {
  width: 100%;
  height: 100%;
  transition: transform 1.5s;
  transform-style: preserve-3d;
}
.cardconianer1:hover .thecard {
  transform: rotateY(180deg);
}
.front,
.back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 7px;
  padding: 20px;
  box-sizing: border-box;
}
.front {
  background-color: #372aac;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.priritytag{
  padding: 2px 5px;
  background-color: #becac342;
  position: absolute;
  backdrop-filter: blur(2px); 
  top: 13px;
  left: 16px;
  border-radius: 25px;
  color: white;

}
.front .ftop {
  height: 30%;
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}
.front .ftop .ftpright {
  width: 50px;
  height: 35px;
  background-color: rgba(128, 128, 128, 0.377);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}
.innerftpright {
  width: 70%;
  height: 60%;
  background-color: rgba(128, 128, 128, 0.658);
  border-radius: 5px;
}
.ftpleft img {
  width: 40px;
  height: 35px;
}

.fbot {
  height: 80px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.fbotfop p {
  font-family: "IBM Plex Sans Arabic", sans-serif;
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  color: white;
}
.fbotbot p {
  font-family: "IBM Plex Sans Arabic", sans-serif;
  font-size: 12px;
  font-weight: 600;
  line-height: 18px;
  color: rgb(164, 167, 172);
}
.fbotbot span {
  font-family: "IBM Plex Sans Arabic", sans-serif;
  font-size: 14px;
  font-weight: 600;
  line-height: 25px;
  color: white;
}

.fbotbot {
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  text-align: end;
}
.back {
  background-color: #0c1421;
  transform: rotateY(180deg);
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.straw {
  width: 100%;
  height: 30px;
  background: linear-gradient(to right, black, rgba(128, 128, 128, 0.37));
}
.ndraw p {
  font-family: "IBM Plex Sans Arabic", sans-serif;
  font-size: 10px;
  font-weight: 600;
  line-height: 15px;
  color: rgba(255, 255, 255, 0.48);
  text-align: end;
}
.rdraw {
  width: 100%;
  height: 30px;
  background-color: #F8FAFC;
  border-radius: 3px;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}
.inrline{
  height: 50%;
  width: 80%;
  background: linear-gradient(to right, white,rgba(128, 128, 128, 0.377),white);
}
.frraw{

  width: 50px;
  height: 60px;
}
.frraw p{
  font-family: "IBM Plex Sans Arabic", sans-serif;
  font-size: 12px;
  font-weight: 600;
  line-height: 16px;
  color: oklch(0.872 0.01 258.338);
  text-align: end;
}
.smnum{
  width: 100%;
  height: 40px;
  background-color: #FFFFFF;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.smnum span{
  font-family: "IBM Plex Sans Arabic", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  color:rgb(17, 24, 39);

}

.ndcrd{
  background-color: #C70036;
}
.rdcrd{
  background-color: #193CB8;
}


